body, html {
    padding:0px;
    margin:0px;
    height:100%;
    overflow:hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#newMessage {
    width:100%;
    height:100px;
    display:block;
    position:absolute;
    padding:0px;
    margin:0px;
    bottom: 0px;
}

#newMessageForm {
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

#newMessageField {
    width:100%;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size:25px;
    border-radius: 7px;
    border:2px solid darkgrey;
    background: rgba(255,255,255,0.5);
}

#newMessageForm label{
    margin-top: 5px;
    font-size: 15px;
    float: left;
    font-family:"Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#settingsPanel {
    position:absolute;
    top: 0px;
    right: 0px;
    width:80px;
    height:30px;
    z-index: 100;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding:20px;
    background: rgba(255,255,255,0.5);

}

#settingsPanel label{
    margin-top: 18px;
    font-size: 10px;
    float: right;
}

#login-buttons {
    position:absolute;
    left:0px;
    top:0px;
}