body, html {
    padding:0px;
    margin:0px;
    height:100%;
    overflow:hidden;
    font-family: 'Ubuntu', sans-serif;
    width:100%;

}

body {
    background-image: radial-gradient(transparent, rgba(0,0,0,.5)), url(/linen.jpg);
    min-height:100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#newMessage {
    width:100%;
    height:100px;
    display:block;
    position:absolute;
    padding:0px;
    margin:0px;
    bottom: 0px;
    z-index:10;
}

#newMessageForm {
    margin-left: auto;
    margin-right: auto;
    width:75%;
    z-index:10;
}

#newMessageForm label{
    margin-top: 5px;
    font-size: 15px;
    float: right;
    color:rgba(255,255,255,0.7);
    z-index:10;
}

#newMessageField {
    width:100%;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size:25px;
    border-radius: 7px;
    border:2px solid darkgrey;
    background: rgba(255,255,255,0.4);
    z-index:10;
}


#settingsPanel {
    position:absolute;
    top: 0px;
    right: 0px;
    width:150px;
    height:80px;
    z-index: 100;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding:20px;
    background: rgba(255,255,255,0.5);
}

#settingsPanel button {
    width:150px;
}

#settingsPanel label{
    margin-top: 18px;
    font-size: 10px;
}

#login-buttons {
    position:absolute;
    left:0px;
    top:0px;
}

.msg{
    position:absolute;
    display:block;
    text-align: center;
}
#messageListContainer{
    height:100%;
    width:1000px;
    display:block;
    position:absolute;
    padding:0px;
    margin:0px;
    bottom: 0px;
    z-index:0;

}

#messageList {
    height:100%;
    width:100%;
    margin-left: 5px;
    margin-right:auto;
    padding:0px 9px 0px 5px;
    border:0px solid crimson;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index:0;

}

#messageList p {
    margin:5px 0px 5px 0px;
    color: rgba(255,255,255,0.3);
    font-size:13px;
}

/*
 *  STYLE 1
 */

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}