/* CSS declarations go here */
body, html {
    padding:0px;
    margin:0px;
    height:100%;
}

#theSpace {
    border: 1px solid red;
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    display:block;
}

#newmessage {
    position:absolute;
    padding:0px;
    margin:0px;

    width:100%;
    bottom: 0px;
    height:50px;
    border: 1px solid blue;
    display:block;
    background: lightgray;
}

#newMessageField {
    width:90%;
    line-height: 35px;
    float:left;
}

.link {
    stroke: #ccc;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}